.box {
    border: 2px solid blue;

}
.main-frame {
 display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
column-gap: 10px;
row-gap: 10px;
}
.content {
    text-align: center;
    justify-content: center;
}
