.main-frame {
    height: 500px;
    width: 500px;
    display: flex;
    /* gap: 10px; */
    border: 1.5px dotted;
}
.sub-frame {
    border: 1.5px none black;
    height: 300px;
    width: 250px;
    margin: 10px;
 
}
