.mainframe {
  height: 500px;
  width: 900px;
  /* padding: 5px; */
  border: 3px solid;
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  color: rgb(10, 13, 15);
  /* background-position-x: center; */
  background-position-y: center;
}
